h1{
    width:200px;
    margin: 0 auto 0 565px;;
}

table{
    margin: 0 auto 0 auto
}

table tbody tr td{
    width: 100px;
    height: 100px;
}

#role2{
    border-right: solid 1px black;
    border-left: solid 1px black;
}

#role4{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#role5{
    border: solid 1px black;
}

#role6{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#role8{
    border-left: solid 1px black;
    border-right: solid 1px black;
}