body{
	background-image: url(https://i.ytimg.com/vi/9ZkysR3NH_Y/maxresdefault.jpg);
	background-size: cover;
}

li{
	border: 2px solid yellow;
}

#special{
	background: red;
}

.completed{
	color:green;
	background-color:#000;
}

h4 + ul li{
	color:green;
}

/* this is new */
a[href="https://google.com.br"]{
	color:red;
	background:purple;
}